.icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-weight: bolder;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-auto-rows: 40px;
    line-height: 40px;
    background: #fff;   
    border-top: 1px solid #eee;
}
footer .icon {
    font-weight: bolder;
    margin-right: 10px;
}
footer .home {
    position: relative;
    
    
}
footer .home .icon-list{
    display: block;
    margin-right: 0;
    font-size: 18px;
    color: #cccbcb;
}
footer .home > ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    background: #fff;
    border: 1px solid #d0d0d0;
    
}
footer .home > ul.show {
    display: block;
}
footer .home > ul li:first-child {
    border-bottom: 1px solid #d0d0d0;
} 
footer .home > ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}
footer > div {
    padding: 6px 8px;
    text-align: center;
    line-height: 28px;
}
footer > div.add-act > a {
    color: #0c7fe2;
    font-size: 18px;
}
footer .more {
    position: relative;
}
footer .more .btn {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    line-height: inherit;
    border: none;
    background: #fff;
    outline: none;
}
footer .more .btn .spot {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #cccbcb;
}
footer .more .other {
    display: none;
    width: 100px;
    position: absolute;
    bottom: 42px;
    right: 5px;
    background: #fff;
    border: 1px solid #ccc;
}
footer .more .other.show {
    display: block;
}
footer .more .other > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc; 
}
footer .more .other > li:last-child {
    border: none;
}
footer .more .other > li a {
    display: block;
    height: 100%;
    line-height: 30px;
    font-size: 14px;
}